*
{
  margin: 0px;
  padding: 0px;
}

.container
{
  width: 100%;
  background: #000000;
}

h1
{
  float: left;
  margin-right: 550px;
  position: relative;
  display: inline-block;
  margin-top: 32.5px;
  margin-bottom: 50px;
  margin-left: 60px;
  border: 1px solid white;
  padding: 10px;
}

nav li
{
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  display: inline-block;
  margin: 50px 25px;
  position: relative;
}

nav li a
{
  text-decoration: none;
}
